<% layout('layout') -%>


<section>
      <div class="row">
<% for(var i=0; i<rest.length; i++) { %>
		  <div class="col-md-4">
			  <h2><%= rest[i].name %></h2>
			  <p><img src='thumbnail/<%= rest[i].id %>.png'> </p>
			  <p><a class="btn btn-default" href="model/<%= rest[i].id %>" role="button">View details &raquo;</a></p>
			</div>
<% } %>
        
            
	</div>
</section>
