<% layout('layout') -%>


<section>
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p id="waitMsg">Please wait, fetching the awesomeness. <br/>Until then you can read about the current status in our Blog.</p>
  <p><a href="http://3dpals.github.io/3Dpal/" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
	
</section>
