<% layout('layout') -%>

<section>
<div class="jumbotron">
  <h1>Hello <%= username %>,</h1>
  <p>nice to have you on our website. So lets get started and create some 3D Model.<br>
  You can have a look at the public gallery or at your models via the navigation bar <img src="image/navbar.png"> and work on them. In those views you can also create a new model <img src="image/newmodel.png"> and start from the scratch.</p>
  <br>
  <p>... You are still here? You need some more help? Go to the <a href="help">help page</a>. You will probably get all your answers.</p>
  <br>
  <p>You can read about the current development in our Blog.</p>
  <p><a href="http://3dpals.github.io/3Dpal/" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
</section>
