<% layout('layout') -%>

<form class="well form-vertical" action="/login" method="post" >
	<p>
	<% if (next != null) { %>
		<input type="hidden" name="next" value="<%= next %>" />
	<% } %>
	
	<% if (error != null) { %>
		<p><%= error %></p>
	<% } %>
	
	<input type="text" class="input-medium" name="username" required="required" placeholder="Username"/><br />
	<input type="password" class="input-medium" name="password" required="required" placeholder="Password"/><br />
	<button type="submit" class="btn btn-primary">Login</button><br />
	<div>
		<a href="/signin" title="Sign in!" style="text-decoration: underline;">Not a member yet? Sign in!</a><br />
		<a class="btn btn-openID" href="/openid" title="OpenID Authentification">OpenID User?</a><br />
		<a class="btn btn-facebook" href="/auth/facebook">Login with Facebook</a><br />
		<a class="btn btn-google-plus"href="/auth/google">Sign In with Google</a>
	</div>
	</p>
</form>



