<% layout('layout') -%>


<h2>Authentification</h2>
<form class="well form-vertical" action="/login" method="post">
	<p>
	<% if (next != null) { %>
		<input type="hidden" name="next" value="<%= next %>" />
	<% } %>
	
	<% if (error != null) { %>
		<p><%= error %></p>
	<% } %>
	<input type="text" class="input-medium" name="username" required="required" placeholder="Username"/><br />
	<input type="password" class="input-medium" name="password" required="required" placeholder="Password"/><br />
	<button type="submit" class="btn-primary">Login</button><br />
	<p>
		<a href="/signin" title="Sign in!" style="text-decoration: underline;">Not a member yet? Sign in!</a><br />
		<a href="/openid" title="OpenID Authentification" style="text-decoration: underline;">OpenID User?</a><br />
		<a href="/auth/facebook">Login with Facebook</a><br />
		<a href="/auth/google">Sign In with Google</a>
	</p>
	</p>
</form>
