<% layout('layout') -%>

<link rel="stylesheet" type="text/css" href="css/token-input.css" />
<script type="text/javascript" src="script/lib/jquery.tokeninput.js"></script>
<script type="text/javascript" src="script/lib/md5.js"></script>
<script type="text/javascript" src="script/lib/model.js"></script>
<script src='sculptgl/lib/jquery.mousewheel.js'></script>

									
<section>
<div class="well">
	<div class="caption" style="margin-bottom:1em;">
		<h3 id="name" style="display:inline;margin-right:1em;"></h3><a class="btn btn-primary" href="" role="button" id="EditFile" style="display:none;">Edit &raquo;</a><br>
	</div>
	
	<input type='file' id='fileopen' style='display: none'/>
	<input type='file' id='backgroundopen' style='display: none'/>
	<canvas id='canvas-viewer'></canvas>

	<!-- wacom tablet plugin -->
	<object id="tablet-plugin" type="application/x-wacomtabletplugin"></object>
	
	<br>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				Properties </a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse">
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="show" id="PropertiesShow">
							
							<div class="form-group">
								<label class="col-sm-2 control-label">Created by</label>
								<div class="col-sm-10">
									<p class="form-control-static" id="createdBy">
										 'loading'
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Created on</label>
								<div class="col-sm-10">
									<p class="form-control-static" id="createdOn">
										 'loading'
									</p>
								</div>
							</div>
							<div class="form-group formEdit" style="display:none;">
								<label class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input type="text" id="editName" style="width: 398px;">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Read public</label>
								<div class="col-sm-10">
									<p class="form-control-static formShow" id="showReadPublic">
										 Yes/No
									</p>
									 <div class="checkbox formEdit"  style="display:none;">
										<label>
										  <input id="editReadPublic" type="checkbox">
										</label>
									  </div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Write public</label>
								<div class="col-sm-10">
									<p class="form-control-static  formShow" id="showWritePublic">
										 Yes/No
									</p>
									 <div class="checkbox formEdit"  style="display:none;">
										<label>
										  <input id="editWritePublic" type="checkbox">
										</label>
									  </div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Read access</label>
								<div class="col-sm-10">
									<p class="form-control-static formShow" id="showReadAccess">
										 List of users
									</p>
									<p class="formEdit" style="display:none;">
									<input type="text" class="usertypeaheadRead" id="editReadAccess" >
									</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Write & Read access</label>
								<div class="col-sm-10">
									<p class="form-control-static formShow" id="showWriteAccess">
										 List of users
									</p>
									<p class="formEdit" style="display:none;">
									<input type="text" class="usertypeaheadWrite" id="editWriteAccess">
									</p>	
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-primary formShow" role="button" onclick="return edit()" style="display:none;" id="EditProperties">Edit Properties &raquo;</button>
									<button class="btn btn-primary formEdit" role="button" style="display:none;" onclick="return save()">Save &raquo;</button> 
									<button class="btn btn-danger formEdit" role="button" style="display:none;" onclick="return deleteModel()">Delete &raquo;</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<form class="well form-horizontal">
	<div class="panel-group" id="accordion2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
				New Comment </a>
				</h4>
			</div>
			<div id="collapseOne2" class="panel-collapse collapse">
				<div class="panel-body">
				<div id="CommentReturnstatus"></div>
					<div class="control-group">
						<div class="controls">
							<textarea id="newComment" name="NewComment" required="required" rows="5" cols="50">Write whatever you like ...</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="Save"></label>
						<div class="controls">
							<button id="Save" name="Save" class="btn btn-primary" onclick="saveNewComment()" type="button">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<div id="comments" class="well">
	<h3>Comments</h3>
	<div id="loadmoreajaxloader" style="display:none;">
		<center><img src="image/ajax-loader.gif"/></center>
	</div>
</div>


<!-- 3rd party libraries -->
<script src='sculptgl/lib/dat.gui.min.js'></script>
<script src='sculptgl/lib/filesaver.min.js'></script>
<script src='sculptgl/lib/gl-matrix-min.js'></script>
<script src='sculptgl/lib/poly2tri.min.js'></script>

<!-- 3D and math stuffs -->
<script src='sculptgl/math3d/camera.js'></script>
<script src='sculptgl/math3d/geometry.js'></script>
<script src='sculptgl/math3d/picking.js'></script>

<!-- mesh related stuffs -->
<script src='sculptgl/object/mesh.js'></script>
<script src='sculptgl/object/aabb.js'></script>
<script src='sculptgl/object/triangle.js'></script>
<script src='sculptgl/object/vertex.js'></script>
<script src='sculptgl/object/octree.js'></script>
<script src='sculptgl/object/render.js'></script>
<script src='sculptgl/object/states.js'></script>
<script src='sculptgl/object/background.js'></script>

<!-- misc -->
<script src='sculptgl/misc/export.js'></script>
<script src='sculptgl/misc/import.js'></script>
<script src='sculptgl/misc/utils.js'></script>

<!-- misc -->
<script src='sculptgl/gui/gui-viewer.js'></script>

<!-- main -->
<script src='sculptgl/sculptgl-viewer.js'></script>
</section>								
	
