<% layout('layout') -%>
<script type="text/javascript" src="script/lib/mymodels.js"></script>

<section>
<div id="postswrapper"></div>

<div id="loadmoreajaxloader" style="display:none;"><center><img src="image/ajax-loader.gif" /></center></div>

<a href="#" class="back-to-top">Back to Top</a>        

</section>

