<% layout('layout') -%>
<script type="text/javascript" src="script/lib/thumbnail.js"></script>
<script type="text/javascript" src="script/lib/gallery.js"></script>
<script>
var galleryURL = "api/user/" + username + "/models";
getMoreModels(galleryURL);
</script>

<section>

<div id="postswrapper">
	<div>
	<button id="NewModel" class="btn btn-default" onclick="NewModel()" type="button">Create new Model</button><br><br>
	</div>
</div>

<div id="loadmoreajaxloader" style="display:none;"><center><img src="image/ajax-loader.gif" /></center></div>

<a href="#" class="back-to-top">Back to Top</a>        

</section>

