<% layout('layout') -%>

<div id="userCreation">
	<h2>Welcome!</h2>
	<form class="well form-vertical">
		<p>
		<div id="errorMsg"></div><br />
		<input type="text" class="input-medium" name="username" id="username" required="required" placeholder="Username"/></span><br />
		<input type="email" class="input-medium" name="email" id="email" required="required" placeholder="Email"/></span><br />
		<input type="password" class="input-medium" name="password" id="password" required="required" placeholder="Password"/></span><br />
		<input type="password" class="input-medium" name="password2" id="password2" required="required" placeholder="Password Confirmation"/><br />
		<button type="submit" class="btn btn-primary">Sign</button>
		</p>
	</form>
</div>

<script>
	$(function() { //shorthand document.ready function
		$('form').on('submit', function(e) { //use on if jQuery 1.7+
			e.preventDefault();  //prevent form from submitting
			createUser();
		});
	});
	function createUser() {
		var username = $('#username').val();
		var password = $('#password').val();
		var password2 = $('#password2').val();
		var email = $('#email').val();
		if (!username) {
		$('#errorMsg').append('<div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Warning!</strong> Empty Username!</div>');
			return;
		}
		if (!password) {
			$('#errorMsg').append('<div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Warning!</strong> Empty Password!</div>');
			return;
		}
		if (!password2) {
			$('#errorMsg').append('<div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Warning!</strong> Empty Confirmation!</div>');
			return;
		}
		if (password != password2) {
			$('#errorMsg').append('<div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Warning!</strong> Passwords don\'t match!</div>');
			return;
		}
		if (!email) {
			$('#errorMsg').append('<div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Warning!</strong> Empty Email!</div>');
			return;
		}
		
		$.ajax({
			type: 'POST',
			url: 'api/users',
			data: {username: username, password: password, email:email },
			success: function(data) {
				if (JSON.parse(data).status =="ok") {
					setTimeout(function(){window.location.href = '/login'}, 1000);
				}
				else {
					 $('#errorMsg').append('<div class="alert alert-danger alert-dismissable"> <button type="button" class="close" data-dismiss="alert">&times;</button><strong>Error!</strong> Username already used, sorry.</div>');
				}
			}
		});     
	}
</script>
