
body{
	background-image:url('../image/background2.png');
	background-color: #EEEEEE;
	background-repeat:no-repeat;
}   

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 1em;
    text-decoration: none;
    color: #fff;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(53, 126, 189);
    background-color: rgba(66, 139, 202, 0.80);
    font-size: 16px;
    padding: 0.7em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(53, 126, 189, 1);
	text-decoration: none;
    color: #fff;
    }